.menu {
  position: fixed;
  top: 64px;
  left: 64px;
  border-radius: 4px;
  margin-right: 32px;
  .item {
    width: 160px;
    box-sizing: border-box;
    margin-bottom: 4px;
    cursor: pointer;
    padding: 8px;
    &:hover {
      background-color: rgb(214, 220, 223);
    }
    &.active {
      background-color: #E4F0F6;
      .icon {
        color: rgb(0, 121, 191);
      }
    }
  }
}