<div class="envelope">
  <ul class="actions">
    <li class="action">
      <a routerLink="/">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="action">
      <i class="fab fa-trello"></i>
    </li>
    <li class="action">
      <i class="fas fa-search"></i>
    </li>
  </ul>
  <span>
    like Trello
  </span>
  <ul class="actions">
    <li class="action">
      <i class="fas fa-plus"></i>
    </li>
    <li class="action">
      <i class="far fa-bell"></i>
    </li>
    <li class="action account">
      W
    </li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>