.board-page {
  background-color: rgb(0, 121, 191);
  height: 100%;
  .header {
    height: 60px;
    color: #fff;
    font-weight: bold;
    padding: 16px;
    box-sizing: border-box;
  }
  .lists {
    display: flex;
    padding: 0 8px;
    .list {
      min-width: 272px;
      background-color: #dfe3e6;
      border-radius: 3px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      margin-right: 8px;
      min-height: 400px;
      .list-header {
        padding: 8px;
      }
    }
  }
}

.card {
  background-color: #fff;
  margin: 0 8px 8px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 2px;
  width: 240px;
  &.dragging {
    background-color: #E0DFE0;
  }
}